@model App_Agenda_Fatec.Models.Item

@{

    ViewData["Title"] = "Remoção de Item";

}

<section id="module-item-description">

    <h1> Remoção de Item </h1>

    <dl>

        <dt> @Html.DisplayNameFor(model => model.Quantity) </dt>

        <dd> @Html.DisplayFor(model => model.Quantity) </dd>

        <dt> @Html.DisplayNameFor(model => model.Equipment)</dt>

        <dd> @Html.DisplayFor(model => model.Equipment.Name) </dd>

    </dl>

    <form id="buttons" asp-action="Remove">

        <a asp-controller="Room" asp-action="Details" asp-route-id="@ViewBag.Room"> Cancelar </a>

        <input type="hidden" name="room_guid" value="@ViewBag.Room"/>
        <input type="hidden" asp-for="Equipment_Guid"/>
        <button id="focus" type="submit"> Remover </button>

    </form>

</section>

@section CSS {

    <link rel="stylesheet" href="~/css/Descricao.css" asp-append-version="true"/>

}