@model App_Agenda_Fatec.Models.User

@{

    ViewData["Title"] = "Detalhes do Usuário";

}

<div id="module-item-description">

    <h1> Detalhes do Usuário </h1>

    <dl>

        <dt> @Html.DisplayNameFor(model => model.Name) </dt>

        <dd> @Html.DisplayFor(model => model.Name) </dd>

        <dt> @Html.DisplayNameFor(model => model.Email)</dt>

        <dd> @Html.DisplayFor(model => model.Email) </dd>

        <dt> @Html.DisplayNameFor(model => model.Phone)</dt>

        <dd> @Html.DisplayFor(model => model.Phone) </dd>

        <dt> @Html.DisplayNameFor(model => model.Administrator)</dt>

        <dd> @Html.DisplayFor(model => model.Administrator) </dd>

        <dt> @Html.DisplayNameFor(model => model.Activation_Stats) </dt>

        <dd> @Html.DisplayFor(model => model.Activation_Stats) </dd>

    </dl>

    <div id="buttons">

        <a asp-action="Index"> Voltar </a>

    </div>

</div>

@section CSS {

    <link rel="stylesheet" href="~/css/Descricao.css" asp-append-version="true"/>

}