@model App_Agenda_Fatec.Models.User

@{

    ViewData["Title"] = "Alteração da Ativação do Usuário";

}

<div id="module-item-description">

    <h1> Alteração da Ativação do Usuário </h1>

    <dl>

        <dt> @Html.DisplayNameFor(model => model.Name) </dt>

        <dd> @Html.DisplayFor(model => model.Name) </dd>

        <dt> @Html.DisplayNameFor(model => model.Email)</dt>

        <dd> @Html.DisplayFor(model => model.Email) </dd>

        <dt> @Html.DisplayNameFor(model => model.Phone)</dt>

        <dd> @Html.DisplayFor(model => model.Phone) </dd>

        <dt> @Html.DisplayNameFor(model => model.Administrator)</dt>

        <dd> @Html.DisplayFor(model => model.Administrator) </dd>

        <dt> @Html.DisplayNameFor(model => model.Activation_Stats) </dt>

        <dd> @Html.DisplayFor(model => model.Activation_Stats) </dd>

    </dl>

    <form id="buttons" asp-action="ModifyActivation">

        <a asp-action="Index"> Cancelar </a>

        <input asp-for="Id" type="hidden"/>
        <button id="focus" type="submit"> Modificar </button>

    </form>

</div>

@section CSS {

    <link rel="stylesheet" href="~/css/Descricao.css" asp-append-version="true"/>

}