@model App_Agenda_Fatec.Models.Block

@{

    ViewData["Title"] = "Detalhes do Bloco";

}

<section id="module-item-description">

    <h1> Detalhes do Bloco </h1>

    <dl>

        <dt> @Html.DisplayNameFor(model => model.Name) </dt>

        <dd> @Html.DisplayFor(model => model.Name) </dd>

        <dt> @Html.DisplayNameFor(model => model.Description)</dt>

        <dd> @Html.DisplayFor(model => model.Description) </dd>

        <dt> @Html.DisplayNameFor(model => model.Activation_Stats) </dt>

        <dd> @Html.DisplayFor(model => model.Activation_Stats) </dd>

    </dl>

    <div id="buttons">

        <a asp-action="Index"> Voltar </a>

        <a id="focus" asp-action="Edit" asp-route-id="@Model.Id"> Editar </a>

    </div>

</section>

@section CSS {

    <link rel="stylesheet" href="~/css/Descricao.css" asp-append-version="true"/>

}