@model App_Agenda_Fatec.Models.Room

@{

    ViewData["Title"] = "Detalhes da Sala";

}

<section id="module-item-description">

    <h1> Detalhes da Sala </h1>

    <dl>

        <dt> @Html.DisplayNameFor(model => model.Name) </dt>

        <dd> @Html.DisplayFor(model => model.Name) </dd>

        <dt> @Html.DisplayNameFor(model => model.Number) </dt>

        <dd> @Html.DisplayFor(model => model.Number) </dd>

        <dt> @Html.DisplayNameFor(model => model.Description)</dt>

        <dd> @Html.DisplayFor(model => model.Description) </dd>

        <dt> @Html.DisplayNameFor(model => model.Situation) </dt>

        <dd> @Html.DisplayFor(model => model.Situation) </dd>

        <dt> @Html.DisplayNameFor(model => model.Block) </dt>

        <dd> @Html.DisplayFor(model => model.Block.Name) </dd>

        <dt> @Html.DisplayNameFor(model => model.Activation_Stats) </dt>

        <dd> @Html.DisplayFor(model => model.Activation_Stats) </dd>

        <dt> @Html.DisplayNameFor(model => model.Items) </dt>

        <dd>

            <table>

                <thead>

                    <tr>

                        <th> Equipamento </th>
                        <th> Quantidade </th>
                        <th> Remoção </th>

                    </tr>

                </thead>

                <tbody>

                    @foreach (Item item in Model.Items)
                    {

                        <tr>

                            <td> @item.Equipment.Name </td>
                            <td> @item.Quantity </td>
                            <td> <a asp-controller="Item" asp-action="Remove" asp-route-room_guid="@Model.Id" asp-route-equipment_guid="@item.Equipment_Guid"> Remover </a> </td>

                        </tr>

                    }

                </tbody>

            </table>

        </dd>

    </dl>

    <div id="buttons">

        <a asp-action="Index"> Voltar </a>

        <a asp-controller="Item" asp-action="Add" asp-route-room_guid="@Model.Id"> Adicionar Item </a>

        <a id="focus" asp-action="Edit" asp-route-id="@Model.Id"> Editar </a>

    </div>

</section>

@section CSS {

    <link rel="stylesheet" href="~/css/Descricao.css" asp-append-version="true"/>

}