@model App_Agenda_Fatec.Models.Room

@{

    ViewData["Title"] = "Alteração da Ativação da Sala";

}

<section id="module-item-description">

    <h1> Alteração da Ativação da Sala </h1>

    <dl>

        <dt> @Html.DisplayNameFor(model => model.Name) </dt>

        <dd> @Html.DisplayFor(model => model.Name) </dd>

        <dt> @Html.DisplayNameFor(model => model.Number) </dt>

        <dd> @Html.DisplayFor(model => model.Number) </dd>

        <dt> @Html.DisplayNameFor(model => model.Description)</dt>

        <dd> @Html.DisplayFor(model => model.Description) </dd>

        <dt> @Html.DisplayNameFor(model => model.Situation) </dt>

        <dd> @Html.DisplayFor(model => model.Situation) </dd>

        <dt> @Html.DisplayNameFor(model => model.Block) </dt>

        <dd> @Html.DisplayFor(model => model.Block.Name) </dd>

        <dt> @Html.DisplayNameFor(model => model.Activation_Stats) </dt>

        <dd> @Html.DisplayFor(model => model.Activation_Stats) </dd>

        <dt> @Html.DisplayNameFor(model => model.Items) </dt>

        <dd>

            <table>

                <thead>

                    <tr>

                        <th> Equipamento </th>
                        <th> Quantidade </th>

                    </tr>

                </thead>

                <tbody>

                    @foreach (Item item in Model.Items)
                    {

                        <tr>

                            <td> @item.Equipment.Name </td>
                            <td> @item.Quantity </td>

                        </tr>

                    }

                </tbody>

            </table>

        </dd>

    </dl>

    <form id="buttons" asp-action="ModifyActivation">

        <a asp-action="Index"> Cancelar </a>

        <input asp-for="Id" type="hidden"/>
        <button id="focus" type="submit"> Modificar </button>

    </form>

</section>

@section CSS {

    <link rel="stylesheet" href="~/css/Descricao.css" asp-append-version="true"/>

}