@model App_Agenda_Fatec.Models.Room

@{
    ViewData["Title"] = "Alteração da Ativação da Sala";
}

<h1>Alteração da Ativação da Sala</h1>

<div>

    <h4>Room</h4>

    <hr />

    <dl class="row">

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Situation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Situation)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activation_Stats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activation_Stats)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Block)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Block.Name)
        </dd>

    </dl>
    
    <form asp-action="ModifyActivation">

        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Modificar" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>

    </form>

</div>

@section CSS {

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>

}