@model App_Agenda_Fatec.Models.Scheduling

@{

    ViewData["Title"] = "Detalhes do Agendamento";

}

<div id="module-item-description">

    <h1> Detalhes do Agendamento </h1>

    <dl>

        <dt> @Html.DisplayNameFor(model => model.Request_Date) </dt>

        <dd> @Html.DisplayFor(model => model.Request_Date) </dd>

        <dt> @Html.DisplayNameFor(model => model.Request_Time)</dt>

        <dd> @Html.DisplayFor(model => model.Request_Time) </dd>

        <dt> @Html.DisplayNameFor(model => model.Utilization_Date) </dt>

        <dd> @Html.DisplayFor(model => model.Utilization_Date) </dd>

        <dt> @Html.DisplayNameFor(model => model.Start_Utilization_Time) </dt>

        <dd> @Html.DisplayFor(model => model.Start_Utilization_Time) </dd>

        <dt> @Html.DisplayNameFor(model => model.End_Utilization_Time) </dt>

        <dd> @Html.DisplayFor(model => model.End_Utilization_Time) </dd>

        <dt> @Html.DisplayNameFor(model => model.Situation) </dt>

        <dd> @Html.DisplayFor(model => model.Situation) </dd>

        <dt> @Html.DisplayNameFor(model => model.Room) </dt>

        <dd> @Html.DisplayFor(model => model.Room.Name) </dd>

        <dt> @Html.DisplayNameFor(model => model.Requestor) </dt>

        <dd> @Html.DisplayFor(model => model.Requestor.Name) </dd>

        <dt> @Html.DisplayNameFor(model => model.Approver) </dt>

        <dd> @Html.DisplayFor(model => model.Approver.Name) </dd>

    </dl>

    <div id="buttons">

        <a asp-action="Index"> Voltar </a>

    </div>

</div>

@section CSS {

    <link rel="stylesheet" href="~/css/Descricao.css" asp-append-version="true"/>

}