@model App_Agenda_Fatec.Models.Equipment

@{

    ViewData["Title"] = "Alteração da Ativação do Equipamento";

}

<section id="module-item-description">

    <h1> Alteração da Ativação do Equipamento </h1>

    <dl>

        <dt> @Html.DisplayNameFor(model => model.Name) </dt>

        <dd> @Html.DisplayFor(model => model.Name) </dd>

        <dt> @Html.DisplayNameFor(model => model.Description)</dt>

        <dd> @Html.DisplayFor(model => model.Description) </dd>

        <dt> @Html.DisplayNameFor(model => model.Activation_Stats) </dt>

        <dd> @Html.DisplayFor(model => model.Activation_Stats) </dd>

    </dl>

    <form id="buttons" asp-action="ModifyActivation">

        <a asp-action="Index"> Cancelar </a>

        <input asp-for="Id" type="hidden"/>
        <button id="focus" type="submit"> Modificar </button>

    </form>

</section>

@section CSS {

    <link rel="stylesheet" href="~/css/Descricao.css" asp-append-version="true"/>

}